%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        wovely => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::wovely',
            },
        },
    },
);

%Image::ExifTool::UserDefined::wovely = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-wovely', 2 => 'Image' },
    NAMESPACE => { 'wovely' => 'http://ns.wovely.com/wovely/1.0/' },
    WRITABLE => 'string',
    JSONPayload => { },
    SchemaVersion => { },
    RunID => { },
    Model => { },
    ExtractedAt => { },
);
1; # end
